.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 0;
  border-radius: 16px;
  background-color: #fff;
  padding: 15.5px 51px;
  margin: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.823vw;
  line-height: 110%;
  text-align: center;
}

.button-send {
  font-weight: 500;
  background-color: var(--green-button);
  padding: 20.5px 27.5px;
}

.file {
  cursor: default;
  background-color: var(--more-bright-background);
  width: 17vw;
}
.close {
  background-color: var(--black);
  padding: 26px;
  color: white;
}

.cart {
  background-color: #fff;
  padding: 1.615vw;
  img {
    height: 27px;
    width: 24px;
  }
}

.disabled {
  background-color: #c0c0c0;
}

.button-orange {
  background-color: var(--orange);
  color: #fff;
}

.button-done {
  background-color: var(--green-background);
}
